<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Converter</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <div class="drag-area">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop to Upload File</header>
                <span>OR</span>
                <input type="file" name="image" id="image" accept="image/*" required>
                <label for="image">Select an image</label> <!-- Etiqueta asociada al input -->
            </div>
            <div class="options">
                <label for="format">Choose image format:</label>
                <select name="format" id="format">
                    <option value="png">PNG</option>
                    <option value="jpg">JPG</option>
                    <option value="jpeg">JPEG</option>
                    <option value="svg">SVG</option>
                    <option value="webp">WEBP</option>
                </select>
            </div>
            <button type="submit">Convert Image</button>
        </form>
    </div>
</body>
</html>
